{% block body %}
{% include 'header.html' %}



<style>
    .field-icon {
      float: right;
      margin-left: -25px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
    }
    </style>

<div class="container" style = "margin-top : 100px ; ">
    <h2 class = "text-center" style = "color : red ; font-weight : bold ;
     font-family : Castellar">" Admin Login "</h2>
    <br>
    <div class = "row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <form method="post">
      {% csrf_token %}
    <label><b>Email ID</b></label><input type = "text" name="email" class="form-control" placeholder="Email">

    <label class="mt-3"><b>Password</b></label>
    <input type = "password" name="pwd" id="password-field" class="form-control" placeholder="Password">
    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    <input class="mt-3"type = checkbox name=rem> Remember Me
    <br>

      <centre><a href="adminhome" class="btn btn-primary">Login</a></centre>

    </form>
    </div>
    </div>

    <div class="col-sm-3">

    </div>
    </div>
    </div>
    <script>
        $(".toggle-password").click(function() {

          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          if (input.attr("type") == "password") {
            input.attr("type", "text");
          } else {
            input.attr("type", "password");
          }
        });
        </script>
{% endblock %}    
